@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{--black: #000;
      --darkblue: #060335;
      --bright: #F8F8F8;
      --blue: #176363;}

.default_font, html{scroll-behavior: smooth;
                    font-size: 17px;
                    font-family: "Quicksand", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 400;
                    font-style: normal;
                    font-variation-settings: "wdth" 100;} 

*{box-sizing: border-box; padding: 0; margin: 0;}

header{padding: 3px;}
.respo_button{border: none; background: transparent; font-size: 50px; width: 40px;}
.h1_link{flex-grow: 2; color: var(--black);}
.h1_link h1{text-align: center; font-size: 28px;}

.logo{display: block; width: 40px; border-radius: 10px;}

.main_navigation ul{list-style-type: none; padding: 10px;}
.main_navigation ul li a{color: var(--bright); text-decoration: none; font-size: 20px;}

.grid_container{display: grid; grid-template-columns: 1fr;}

.image_container{display: flex; flex-direction: column; background-color: var(--black);}
.image_container img{display:block; width: 100%;}
.image_container h3{font-size: 16px; font-weight: 400; color: var(--bright); padding: 5px;}

.flex_container{display: flex; flex-direction: column;}
.donation_link{background-color: var(--blue); width: 300px; font-size: 20px; font-weight: 600; text-align: center;}

.flex_container img{display: block; width: 100%;}

.flex_container address{display: block; width: 100%; height: 70px; text-align: center; padding: 20px;}

footer{background-color: #000000; height: 200px;}

@media(min-width: 700px){
      .respo_button{display: none;}
      header * {order: 0;}
      .logo{order: -1; width: 60px;}
      .h1_link{order: 1;}

      nav{display:block!important;} /*imporant due to possible hidden navigation when resizing the window*/
      .main_navigation ul{display: flex; flex-direction: row; justify-content: space-evenly; padding: 10px;}

      .grid_container{grid-template-columns: 1fr 1fr; gap: 5px;}

      .flex_container{flex-direction: row;}
      .flex_container * {font-size: 18px;}
      .flex_container p {flex-basis: 75%;}
      .flex_container a {flex-basis: 25%; padding: 40px;}

      .flex_container img{display: block; width: 25%;}

     
}

@media(min-width: 1000px){
      .height_100_on_monitor{height: 100px;}

      .grid_container{grid-template-columns: 1fr 1fr 1fr 1fr;}

      .flex_container p {flex-basis: 85%;}
      .flex_container a {flex-basis: 15%; padding: 20px;}
}

.flex_row{display: flex; flex-direction: row;}
.flex_column{display: flex; flex-direction: column;}
.center_horizontically{justify-items: center;}
.center_vertically{align-items: center;}

.align_flex_end{justify-content: flex-end;}

.center_text{text-align: center;}

.dark_background{background-color: var(--black);}
.bright_background{background-color: var(--bright);}
.darkblue_background{background-color: var(--darkblue);}

.bright_color{color: var(--bright);}

.padding10{padding: 10px;}
.padding20{padding: 20px;}

.margin10{margin: 10px;}
.margintop20{margin-top: 20px;}

.border_radius{border-radius: 10px;}

h2{font-size: 22px; font-weight: 700; padding: 20px;}